<html>

<head></head>

<body>
    <template>
        <link rel="stylesheet" type="text/css" />

        <div>
            <p>
                The course is <slot name="course"><span>DAT152</span></slot> and the topic is <slot name="topic">
                    <span>JavaScript</span>
                </slot>.
            </p>
            <p>
                Lecturer is <slot name="lecturer"><span>Bjarte Kileng</span></slot>.
            </p>

            <button type="button">Say hello</button>
        </div>
    </template>
</body>

</html>